<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>{% block title %}{% endblock %}</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-to-r from-blue-500 to-blue-700 py-4 px-2">
        <div class="container mx-auto flex justify-between items-center">
            <a class="text-3xl font-bold text-gray-800" href="{{ url_for('views.home') }}">Note$ App</a>
            <button id="menu-toggle" class="block lg:hidden text-gray-800 focus:outline-none" onclick="toggleMenu(this)">
                <!-- Hamburger Icon -->
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
            <ul id="menu" class="hidden lg:flex lg:space-x-4">
                {% if session.get('shared_note') %}
                        <li class="nav-item">
                            <a class="hover:text-blue-500 text-gray-700" href="{{ url_for('views.home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="hover:text-blue-500 text-gray-700" href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="hover:text-blue-500 text-gray-700" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                        </li>
                    {% elif current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="hover:text-blue-500 text-gray-700" href="{{ url_for('views.home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="hover:text-blue-500 text-gray-700" href="{{ url_for('views.my_notes') }}">My Note$</a>
                        </li>
                        <li class="nav-item">
                            <a class="hover:text-blue-500 text-gray-700" href="{{ url_for('views.contact') }}">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="hover:text-blue-500 text-gray-700" href="#" onclick="openLogoutModal()">Logout</a>
                        </li>
                        <li class="nav-item">
                            <button id="theme-toggle" class="hover:text-blue-800 text-gray-700">Dark Mode</button>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="hover:text-blue-500 text-gray-700" href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="hover:text-blue-500 text-gray-700" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                        </li>
                    {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mx-auto"> 
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="fixed top-0 inset-x-0 p-4">
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
                            <span class="block sm:inline">{{ message }}</span>
                            <button class="absolute top-0 bottom-0 right-0 px-4 py-3 focus:outline-none" onclick="this.parentElement.style.display='none'">
                                <svg class="fill-current h-6 w-6 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M14.348 5.652a1 1 0 00-1.414 0L10 8.586 6.066 4.652a1 1 0 00-1.414 1.414L8.586 10l-3.934 3.934a1 1 0 001.414 1.414L10 11.414l3.934 3.934a1 1 0 001.414-1.414L11.414 10l3.934-3.934a1 1 0 000-1.414z"/>
                                </svg>
                            </button>
                        </div>
                    {% else %}
                        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4" role="alert">
                            <span class="block sm:inline">{{ message }}</span>
                            <button class="absolute top-0 bottom-0 right-0 px-4 py-3 focus:outline-none" onclick="this.parentElement.style.display='none'">
                                <svg class="fill-current h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M10 18a8 8 0 100-16 8 8 0 000 16zm4.293-10.293a1 1 0 00-1.414-1.414L10 10.586l-1.879-1.88a1 1 0 00-1.414 1.414l2.586 2.586a1 1 0 001.415 0l5-5a1 1 0 000-1.415z"/>
                                </svg>
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>

    <!-- Logout Modal -->
    <div id="logoutModal" class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="logoutmod bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2H3m13 2a9 9 0 110-18 9 9 0 010 18z" />
                            </svg>
                        </div>
                        <div class="logouttitle mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Logout</h3>
                            <div class="logmod mt-2">
                                <p class="text-sm text-black-500">Are you sure you want to logout?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logoutmode bg-white px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <a href="{{ url_for('auth.logout') }}" id="confirmLogout" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">Yes</a>
                    <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="closeLogoutModal()">No</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
