{% extends "base.html" %}
{% block title %}Note Detail{% endblock %}
{% block content %}
<div class="container mx-auto mt-10">
    <div class="fullnote bg-white shadow-md rounded-lg p-6">
        <h2 class="text-2xl font-bold text-white-800 mb-4">Full Note</h2>
        <div class="menu-container">
            <button class="menu-button text-black-600 hover:text-gray-800 focus:outline-none" onclick="toggleMenu(this)">
                &#x22EE;
            </button>
            <div class="menu-dropdown hidden absolute bg-white shadow-md rounded-md mt-2">
                <button type="button" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" onclick="shareNote('{{ note.id }}')">
                    Share
                </button>
                <button type="button" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" onclick="deleteNote('{{ note.id }}')">
                    Delete
                </button>
                <button type="button" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" onclick="editNote('{{ note.id }}')">
                    Edit
                </button>
                <button type="button" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" onclick="hideNote('{{ note.id }}')">
                    Hide
                </button>
            </div>
        </div>
        <pre id="note-content" class="text-white-700 whitespace-pre-wrap" data-note-id="{{ note.id }}">{{ note.data }}</pre>
        <div id="edit-buttons" class="mt-4 hidden">
            <button class="save-button bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300" onclick="saveNoteChanges('{{ note.id }}')">Save</button>
            <button class="discard-button bg-red-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-red-600 transition duration-300 ml-2" onclick="discardChanges('{{ note.id }}')">Discard Changes</button>
        </div>
        <button onclick="window.history.back()" class="mt-4 bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300">Back</button>
    </div>
</div>
{% endblock %}
